---
import MainLayout from "../layouts/Main.astro";
import Icon from "../assets/images/icon.webp";
import { Image } from "astro:assets";
const title = "The Writers Workshop Bangladesh";
const slogan = "Express your creativity!";
---

<MainLayout
  title={title}
  description={slogan}
  socialImage="/social_images/index.png"
>
  <header class="hero">
    <div class="snow hero-content max-w-full flex-col sm:flex-row">
      <div class="text-center sm:text-left">
        <h1 class="text-xl sm:text-4xl">{title}</h1>
        <h2 class="text-lg sm:text-3xl">{slogan}</h2>
      </div>
      <Image src={Icon} alt="Icon" class="m-auto drop-shadow-lg" />
    </div>
  </header>
</MainLayout>
