---
import PWA from "../components/PWA.astro";
import "@fortawesome/fontawesome-free/css/all.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/index.css";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang={frontmatter.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{frontmatter.title}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content={frontmatter.title} />
    <meta name="author" content={frontmatter.author} />
    <ViewTransitions fallback="none" />
    <PWA />
  </head>
  <body class="flex h-screen flex-col">
    <Navbar />
    <article class="prose prose-a:link sm:m-auto">
      <h1>{frontmatter.title}</h1>
      <h2>Author: {frontmatter.author}</h2>
      <slot />
    </article>
    <Footer />
  </body>
</html>
